{
  "name": "****",
  "imzml_path": "https://****.imzML or C:\****.imzML",
  "ibd_path": "https://****.ibd or C:\****.ibd",
  "num_decoys": 20,
  "polarity": "+",
  "isocalc_sigma": 0.001238,
  "metaspace_id": "**** (Optional)"
}